<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{{subject}}</title>
		<style type="text/css">
			#outlook a {padding:0;}
			body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; font-family:sans-serif;} 
			img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} 
			a img {border:none;}
			.image_fix {display:block;}
			p {margin: 1em 0;}
		</style>
	</head>
	<body>
		<p><strong>Name: </strong> {{name}}</p>
		<p><strong>Email: </strong> {{email}}</p>
		<p><strong>Message: </strong> {{message}}</p>
	</body>
</html>