<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{{title}}</title>
		<style type="text/css">
			#outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
			body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; font-family:sans-serif;} 
			img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} 
			a img {border:none;}
			.image_fix {display:block;}
			p {margin: 1em 0;}
		</style>
	</head>
	<body>
		<p>Your new Feedient password is <strong>{{newPassword}}</strong></p>
		<p>You can change the password as soon as you have signed in.</p>
		<p><a href="http://feedient.com" style="color:#1ead91">Go to Feedient.com</a></p>
	</body>
</html>
